<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log-in | Spacebook</title>
</head>
<body>
    <header>
        <div>
            <h1>Log-in | Spacebook</h1>
        </div>
    </header>
    <article>
        <div class="block">
            <form method="post">
                <label for="email">Enter an email:</label>
                <input type="text" name="email" id="email">
                <label for="password">Enter a password:</label>
                <input type="text" name="password" id="password">
                <button type="submit">Log-in</button>
            </form>
        </div>
    </article>
    <footer>
        <p>Spacebook</p>
    </footer>
</body>
</html>